body{
  background-color: rgb(226, 226, 226);
}

#root{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item-div{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  width: 300px;
}

button{
  background-color: white;
  width: 210px;
  height: 50px;
  font-size: 16px;
  margin: 10px 0 0 10px;
}
p{
  text-align: center;
}